extends layout

block content
	div.entrydiv
		-var myObjectInBrowser = JSON.parse(blogtext);
		div.entrytitle #{title}
		div.entrytext !{myObjectInBrowser}
		div.entrytime #{blogstamp}
		div.entrymenu