html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='./stylesheets/style.css')
	body(background='./images/100_yr_old_paper_2.jpg')
		img#MainIcon(src="./images/LeftSideIcon.png")
		span#MainMenu
			text#MainText
				div.MenuItem 
					a(href='./profile') Joshua Lucier
				br
				div.MenuItem 
					a(href='./blog') Blog
				br
				div.MenuItem 
					a(href='./resume') Resume
				br
				div.MenuItem 
					a(href='./contact') Contact
				br
				div.MenuItem
					a(href='http://joshualucier.com/blog/') Computer Science

		span#login 
			a(href='./login') Login
