doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<script src="/tinymce.min.js"></script>
		script tinymce.init({ selector:'textarea', plugins : 'advlist autolink link image lists charmap print preview code' });
		script(src="https://code.jquery.com/jquery-1.10.2.js")
	body
		header
			div#MainMenuH
				span.MenuItemH
					a(href='/') Home
				span.MenuItemH
					a(href='/profile') Profile
				span.MenuItemH
					a(href='/blog') Blog
				span.MenuItemH
					a(href='/resume') Resume
				span.MenuItemH
					a(href='/contact') Contact
		article
			block content
