extends layout

block content
	div.BodyDiv
		h1 Profile of Work

		h2 Skills
		div.SkillsDiv
			ul.skillsUL
				li Linux C/C++
				li Windows C/C++
				li C#
				li MASM
				li NASM
			ul.skillsUL
				li JQuery/Java
				li CSS3
				li HTML5
				li Node/Jade
			ul.skillsUL
				li Python
				li PHP
				li Visual Basic
				li SQL

		h2 Interests
		p I am very interested in making Christian video games.  There are many video games with Christian themes but tend to not follow Christian writings or context.  I'm also interested in educational video games.  Robotics have also peeked my interest in the past.  I am very into systems analysis and design.  I am currently working on a game using the Unreal Engine.  Step one is learning to use software such as blender and Unreal to generate assets and script levels.

		h2 A little about myself
		p I was born in Phoenix, Arizona in 1984 and live in Morrisville, VT.  I struggle with a life long illness but am determined to keep busy.  I have a wife and four children.  I have previously been in the cooking and information technology fields.  I hold firmly to my Christian faith.  Much of my understanding of business comes from Christian principles.
