extends layout

block content
	div.BodyDiv
		h1 Profile of Work

		h2 Skills
		div.ClassesDiv
			ul.skillsUL
				li Windows Programming
				li Linux Programming
				li Web Programming
			ul.skillsUL
				li Working remotely
				li Problem Solving
				li Customer Care
			ul.skillsUL
				li Systems Administration
				li Computer Science
				li Visual Design

		h2 Interests
		p I am very interested in making Christian video games.  There are many video games with Christian themes but tend to not follow Christian writings or context.  I'm also interested in educational video games.  Robotics have also peeked my interest in the past.  I am very into systems analysis and design.  I am currently working on a game using the Unreal Engine.  Step one is learning to use software such as blender and Unreal to generate assets and script levels.

		h2 A little about myself
		p I was born in Phoenix, Arizona in 1984 and live in Morrisville, VT.  I struggle with a life long illness which onset in my mid twenties but am determined to keep active.  I have a wife and four children.  I have previously been in the cooking and information technology fields.  I hold firmly to my Christian faith.  I was in the information technology field for some time.  I'm making a transition into the computer science field.  I enjoy coding.  It's something I can do for hours and find fun.  It's like sitting down and solving a good jigsaw puzzle.

		h2 Where I see myself in ten years
		p My hope is that both of my older two sons will be in college.  My wife and I have thought about moving to California.  Vermont has long, harsh winters that tend to be bad for my health.  I hope to have finished my bachelor's degree.  I plan on staying in training, taking one class at a time to stay on top of my field.  I'm also working on a game which I hope will be completed by then.  It would be nice to be working in the game industry with a Christian team.
