extends layout

block content
	div.BodyDiv
		h1.titletext Resume
		h2.headingtext Skills
		div.SkillsDiv
			ul.skillsUL
				li Linux C/C++
				li Windows C/C++
				li C#
				li MASM
				li NASM
			ul.skillsUL
				li JQuery/Java Script
				li CSS3
				li HTML5
				li Node/Jade
			ul.skillsUL
				li Python
				li PHP
				li Visual Basic
				li SQL
		h2.headingtext Education
		h3.subheadingtext Devry University (Transferred)
		em BS Web Game Programming
		div.ClassesDiv
			ul.skillsUL
				li Systems Analysis and Design
				li Basic Programming
				li Advanced Programming
			ul.skillsUL
				li Technical Writing
				li Database Design
		h3.subheadingtext Champlain College (December 2018)
		em  BS Computer Science and Innovation
		h3.subheadingtext Summary of Courses
		div.ClassesDiv
			ul.skillsUL
				li Web programming
				li Innovation
				li Linux Programming
				li Open Source Programming
			ul.skillsUL
				li Database Programming
				li Data structures and Algorithms
				li Advanced Database Programming
		h2.headingtext Work History
		h3.subheadingtext Commodore's Inn - Stowe, VT(June 2014 - August 2014)(June 2012 - August 2012)
		em Kitchen Worker
		ul
			li Prepared food
			li Cleaned kitchen
			li Washed dishes
		h3.subheadhingtext Green Goddess Cafe - Stowe, VT(June 2013 - August 2013)
		em Kitchen Worker
		ul
			li Prepared food
			li Cleaned kitchen
			li Washed dishes
		h3.subheadingtext Salvation Farms - Morrisville, VT(June 2011 - August 2011)
		em Intern Programmer
		ul
			li Converted Django website to updated, object oriented code on gleaning interface
			li Created new views and pages for Django gleaning interface
		h3.subheadingtext Vermont Information Processing - Colchester, VT(August 2009 - June 2010)
		em Network Administrator
		ul
			li Maintained Windows Servers
			li Assisted users with application support
			li Maintained Cisco Networking devices
			li Maintained Sonic Wall firewalls
		h3.subheadingtext Symquest Group Inc. - South Burlington, VT(February 2008 - June 2009)
		em Incident Escalation engineer
		ul
			li Provided disaster recovery services
			li Handled complex issues escalated from the operations center
		h3.subheadingtext US Marines (December 2003 - December 2007)
		em Data Systems Specialist
		ul
			li Held rank of Sergeant
			li Provided support for Windows and Cisco systems on bases in Iraq
		h3.subheadingtext Pie in the Sky - Stowe, VT(June 1998 - October 2003)
		em Line Cook
		ul
			li Prepared food
			li Cleaned kitchen